#!/usr/bin/env bash
set -euo pipefail

# This will be supported in the future
export NIX_USER_CONF_FILES=$PWD/etc/nix.conf

watch_file devshell.toml
if nix flake info &>/dev/null; then
  # Flake!
  watch_file flake.lock
  watch_file flake.nix
  eval "$(nix print-dev-env)"
else
  use_nix
fi
