#!/usr/bin/env bash
set -euo pipefail

# This will be supported in the future
export NIX_USER_CONF_FILES=$PWD/etc/nix.conf

if ! nix flake info &>/dev/null; then
  echo "This environment needs Nix flakes edition" >&2
  exit 1
fi

watch_file devshell.toml
watch_file flake.lock
watch_file flake.nix

eval "$(nix print-dev-env)"
